{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ site_content.restaurant_name }}{% endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>
<body>
{% include 'core/includes/main_menu.html' %}

<div class="container">
    {% block content %}{% endblock%}
</div>
    {% include 'core/includes/footer.html' %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>